<div class="fluid-box3">
  <%= image_tag 'about.png', class: "img-fluid"%>
</div>
<div class="fluid-box">
  <div style="background: #FFFFFF">
    <div class="row w-100 align-items-center">
      <div class="col-sm col-md-4 mt-4">
        <div align="center">
          <h6 class"mt-2">こんな方にオススメサイト<i class="fas fa-globe-asia"></i></h6>
          <%= image_tag 'logo.png', class: "img-fluid" %>
        </div>
      </div>
      <div class="col-sm text-center col-md-3 mt-2 ml-1">
        <div class="fusen-001 mt-2 mb-2 ">
          <p class="small">いろんなサイトでメモを管理している</p>
        </div><br>
        <div class="fusen-002 mt-2 mb-2">
          <p class="small">自分だけの記録をまとめたい</p>
        </div><br>
        <div class="fusen-003 mt-2 mb-2">
          <p class="small">分かりやすいサイトがいいな</p>
        </div><br>
        <div class="fusen-004 mt-2 mb-2">
          <p class="small">コアな場所などシェアしたい</p>
        </div>
      </div>
      <div class="col-sm text-center col-md-4 mt-2 ml-3">
        <div class="fusen-001 mt-2 mb-2">
          <p class="small">お店の画像はあって店の名前を忘れて検索して探す事が多い</p>
        </div><br>
        <div class="fusen-002 mt-2 mb-2">
          <p class="small">
          カメラロールの写真が多くて探すのが大変</p>
        </div><br>
        <div class="fusen-003 mt-2 mb-2">
          <p class="small">
          読んだ本を順番に記録しておきたいな</p>
        </div><br>
        <div class="fusen-004 mt-2 mb-2">
          <p class="small">
          色んなSNSがあってどこに保存したか忘れた</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fluid-box2 text-center">
  <%= image_tag 'aboutdown.jpg', class: "img-fluid" %>
</div>

