<%= render 'form' %>
<h3>投稿一覧</h3>
<table class="table">
  <thead>
    <tr class="table">
      <th>タイトル</th>
      <th>本文</th>
    </tr>
  </thead>
  <tbody class="table">
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
